section {
  min-height: 100vh;
  padding: 8rem 12%;
  width: 100%;
  position: relative;
}

.about {
  display: flex;
  align-items: center;
  justify-content: center;
}

.about .about-container {
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 10rem;
}
.about img {
  width: 30vw;
  height: 30vw; /* makes it a perfect square */
  object-fit: cover;
  border-radius: 50%;
}

.info-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 1.5rem;
}
.info-box h3 {
  font-size: 1.8rem;
  font-weight: 600;
}

.info-box h1 {
  font-size: 3rem;
  font-weight: 600;
}

.info-box p {
  background: linear-gradient(to right, rgb(0, 157, 255), rgb(255, 0, 255));
  background-clip: text;
  color: transparent;
  font-size: 2rem;
}

.btn-group {
  display: flex;
  gap: 1rem;
}

.btn-group .btn {
  background-color: #fff;
  padding: 0.5rem 1.5rem;
  border-radius: 3rem;
  cursor: pointer;
  font-weight: 500;
  text-wrap: nowrap;
  transition: 0.2s ease-in-out;
}
.btn-group .btn:hover {
  background-color: black;
  color: white;
}

.socials {
  display: flex;
  gap: 2rem;
}
.socials i {
  font-size: 2.5rem;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}
.socials i:hover {
  transform: scale(1.1);
}
