@media (max-width: 1280px) {
  header {
    padding: 1rem 2rem;
    gap: 2rem;
  }

  .about .about-container {
    gap: 3rem;
  }

  .experience-info {
    flex-direction: column;
  }

  .input-box input {
    padding: 2rem 5rem;
    font-size: 2.5rem;
  }

  .input input::placeholder {
    font-size: 2.5rem;
  }
}

@media (max-width: 768px) {
  header {
    gap: 1rem;
    padding: 1rem 1.5rem;
  }

  header .logo {
    font-size: 1rem;
  }
  #fa-github-icon {
    display: none;
  }
  .about-container img {
    width: 50vw;
    height: 50vw;
    object-fit: cover;
  }

  .about-container {
    flex-direction: column;
  }
  .section-title {
    text-align: center;
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 3rem;
  }
  .input-box input {
    padding: 1rem 2rem;
    font-size: 1.8rem;
  }

  .input input::placeholder {
    font-size: 1.5rem;
  }

  .input-box i {
    display: none;
  }

  .experience-grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .experience-info img {
    width: 70vw;
    height: 50vw;
    object-fit: cover;
  }
}
@media (max-width: 600px) {
  header #fa-menu-icon {
    display: block;
  }

  .nav-links {
    background: rgba(0, 0, 0, 0.9);
    border-radius: 3rem;
    position: absolute;
    top: 100%;
    margin-top: 1rem;
    width: 100%;
    padding: 1rem;
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    display: none;
    transition: 0.2s ease-in-out;
  }
  .nav-links.active {
    display: block;
  }

  .nav-links li {
    margin-top: 0.5rem;
    padding: 1rem;
  }

  header {
    padding: 1rem 5rem;
    gap: 8rem;
  }
  header .logo {
    font-size: 1.5rem;
  }

  .about-container img {
    width: 80vw;
    height: 80vw;
    object-fit: cover;
  }

  .input-box input {
    padding: 0.5rem 2rem;
    font-size: 1.5rem;
    width: 80%;
  }

  .input input::placeholder {
    font-size: 1.5rem;
  }

  footer ul {
    gap: 1rem;
  }
}
